<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Authentication App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['precios']">Prices</a>
      </li>
      <li class="nav-item"
          *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button (click)="loging()"
              *ngIf="!auth.isAuthenticated()"
              type="button"
              class="btn btn-outline-light">
        Log In
      </button>

      <button (click)="logout()"
              *ngIf="auth.isAuthenticated()"
              type="button"
              class="btn btn-outline-light">
        Log Out
      </button>

    </span>
  </div>
</nav>
